<style>
table, th, td {
  border: 1px solid lavender;
}

th, td {
  padding: 10px;
}
</style>

<h1>Libraries</h1>
<%= link_to "Books Index", "/books" %>
<%= link_to " | Characters Index | ", "/characters" %>

<a href="/libraries/new">New Library</a><br><br>

  <table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Online Membership</th>
    <th>Current Employees</th>
    <th>Built Date</th>
    <th>Renovated Date</th>
  </tr>
  <% @libraries.each do |library| %>
  <tr>
    <td><a href="/libraries/<%= library.id %>"><%= library.id %></a></td>
    <td><%= library.name %></td>
    <td><%= library.online_membership %></td>
    <td><%= library.current_employees %></td>
    <td><%= library.created_at %></td>
    <td><%= library.updated_at %></td>
    <td><%= link_to "edit", library_edit_path(library) %></td>
    <td><%= link_to " delete", library_path(library), method: :delete %></td>
  </tr>
  <% end %>
</table>
