<%= link_to "Libraries Index | ", "/libraries" %>
<%= link_to "Novels Index | ", "/novels" %><br><br>
<%= link_to "Books Index", "/books" %>
<%= link_to "  | Characters Index | ", "/characters" %>
<a href="/libraries/<%= @library.id %>/books"> View Books |</a>
<a href="/libraries/<%= @library.id %>/edit"> Update Library |</a>
<%= link_to " Delete Library", library_path(@library), method: :delete %>

<h1><%= @library.name %></h1>

<div class="">
  <h2>Available Books: </h2>
  <p><%= @library_books_count %></p>
</div>

<div class="">
  <h3>Online Membership:</h3>
  <p><%= @library.online_membership %></p>
  <h3>Current Employees:</h3>
  <p><%= @library.current_employees %></p>
  <h3>Built Date:</h3>
  <p><%= @library.created_at %></p>
  <h3>Renovated Date:</h3>
  <p><%= @library.updated_at %></p>
</div>
