<style>
table, th, td {
  border: 1px solid lavender;
}

th, td {
  padding: 10px;
}
</style>

<h1>Novels</h1>
<%= link_to "Libraries Index | ", "/libraries" %>
<%= link_to "Books Index  | ", "/books" %>
<%= link_to "Characters Index  | ", "/characters" %>

<a href="/novels/new">New Novel</a><br><br>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
    <th>Hard Cover</th>
    <th>Number of Chapters</th>
    <th>Written Date</th>
    <th>Revised Date</th>
  </tr>
  <% @novels.each do |novel| %>
    <tr>
      <td><a href="/novels/<%= novel.id %>"><%= novel.id %></a></td>
      <td><%= novel.title %></td>
      <td><%= novel.author %></td>
      <td><%= novel.hard_cover %></td>
      <td><%= novel.number_of_chapters %></td>
      <td><%= novel.created_at %></td>
      <td><%= novel.updated_at %></td>
      <td><%= link_to "edit", novel_edit_path(novel) %></td>
      <td><%= link_to "delete", novel_path(novel), method: :delete %></td>
    </tr>
  <% end %>
</table>
