<%= link_to "Libraries Index | ", "/libraries" %>
<%= link_to "Novels Index | ", "/novels" %>
<%= link_to "Books Index  |", "/books" %>
<%= link_to "Characters Index", "/characters" %>

<form action="/novels" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new Novel:</p>
  <p>Title:</p>
  <input type='text' name='novel[title]'/>
  <p>Author:</p>
  <input type='text' name='novel[author]'/>

  <p>Hard Cover?</p>
  <label for="yes">Yes</label>
  <input type="radio" name="novel[hard_cover]" id="yes" value=true><br>
  <label for="no">No</label>
  <input type="radio" name="novel[hard_cover]" id="no" value=false><br>

  <p>Number of Chapters:</p>
  <input type='number' name='novel[number_of_chapters]'/>
  <p>Written date:</p>
  <input type='date' name='novel[created_at]'/>
  <p>Revised date:</p>
  <input type='date' name='novel[updated_at]'/><br/><br/>
  <input type='submit' value='Create Novel'/>
</form>
