<a href="/novels">Novels Index</a>
<%= link_to " |  Books Index", "/books" %>
<a href="/novels/<%= @novel.id %>/characters">  |  View Characters</a>
<a href="/novels/<%= @novel.id %>/edit">  |  Update Novel</a>
<%= link_to "  |  Delete Novel", novel_path(@novel), method: :delete %>

<h1><%= @novel.title %></h1>
<div class="">
  <h2>Characters in Novel: </h2>
  <p><%= @novel_characters_count %></p>
</div>
<div class="">
  <h3>Author:</h3>
  <p><%= @novel.author %></p>
  <h3>Hard Cover:</h3>
  <p><%= @novel.hard_cover %></p>
  <h3>Number of Chapters:</h3>
  <p><%= @novel.number_of_chapters %></p>
  <h3>Written Date:</h3>
  <p><%= @novel.created_at %></p>
  <h3>Revised Date:</h3>
  <p><%= @novel.updated_at %></p>
</div>
