<style>
table, th, td {
  border: 1px solid skyblue;
}

th, td {
  padding: 10px;
}
</style>

<h1>Books</h1>
<%= link_to "Libraries Index | ", "/libraries" %>
<%= link_to "Novels Index | ", "/novels" %>

<%= link_to "Characters Index", "/characters" %><br><br>
<% if @library %>
<%= link_to "Books Index", "/books" %><br><br>
  <a href="/libraries/<%= @library.id %>/books/new">Create Book</a><br><br>
  <%= link_to "Sort A-Z", books_path(library_id: @library.id, sort: "title") %><br><br>
  <%= form_for :copies, url: library_books_path(@library), method: :get do |c| %>
    <%= c.text_field :number %>
    <%= c.submit ("Only return books with more than amount of copies available") %>
    <br><br>
  <% end %>
<% end %>
  <table>
  <tr>
    <th>ID</th>
    <th>Library ID</th>
    <th>Title</th>
    <th>Audio Book</th>
    <th>Copies Available</th>
    <th>Written Date</th>
    <th>Revised Date</th>
  </tr>
  <% @books.each do |book| %>
  <tr>
    <td><a href="/books/<%= book.id %>"><%= book.id %></a></td>
    <td><%= book.library_id %></td>
    <td><%= book.title %></td>
    <td><%= book.audio_book %></td>
    <td><%= book.copies_available %></td>
    <td><%= book.created_at %></td>
    <td><%= book.updated_at %></td>
    <td><a href="/books/<%= book.id %>/edit">edit</a></td>
    <td><%= link_to "delete", book_path(book), method: :delete %></td>
  </tr>
  <% end %>
</table>