<style>
table, th, td {
  border: 1px solid skyblue;
}

th, td {
  padding: 10px;
}
</style>

<h1>Characters</h1>

<%= link_to "Libraries Index | ", "/libraries" %>
<%= link_to "Novels Index | ", "/novels" %>
<%= link_to "Books Index", "/books" %><br><br>
<% if @novel %>
<%= link_to "Characters Index", "/characters" %><br><br>
<a href="/novels/<%= @novel.id %>/characters/new">Create Character</a><br><br>
<%= link_to "Sort A-Z", characters_path(@novel, :sort => "name") %><br><br>
<%= form_for :age_limit, url: novel_characters_path(@novel), method: :get do |c| %>
  <%= c.text_field :number %>
  <%= c.submit ("Only return characters with more than amount of age available") %>
  <br><br>
  <% end %>
<% end %>
  <table>
  <tr>
    <th>ID</th>
    <th>Novel ID</th>
    <th>Name</th>
    <th>Antagonist</th>
    <th>Age</th>
    <th>Creation Date</th>
    <th>Updated Date</th>
  </tr>
  <% @characters.each do |character| %>
  <tr>
    <td><a href="/characters/<%= character.id %>"><%= character.id %></a></td>
    <td><%= character.novel_id %></td>
    <td><%= character.name %></td>
    <td><%= character.antagonist %></td>
    <td><%= character.age %></td>
    <td><%= character.created_at %></td>
    <td><%= character.updated_at %></td>
    <td><a href="/characters/<%= character.id %>/edit">edit</a></td>
    <td><%= link_to "delete", character_path(character), method: :delete %></td>
  </tr>
  <% end %>
</table>
