<a href="/characters">Characters Index</a>
<%= link_to "Books Index", "/books" %>
<h1><%= @character.name %></h1>

<div class="">
  <h3>Antagonist:</h3>
  <p><%= @character.antagonist %></p>
  <h3>Age:</h3>
  <p><%= @character.age %></p>
  <h3>Creation Date:</h3>
  <p><%= @character.created_at %></p>
  <h3>Updated Date:</h3>
  <p><%= @character.updated_at %></p>
</div>

<a href="/characters/<%= @character.id %>/edit">Update Character</a><br><br>

<%= link_to "Delete Character", character_path(@character), method: :delete %>
